<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Online Bookstore</title>
</head>
<body>
<h2>Welcome to Online Bookstore</h2>
<header th:replace="~{HeaderAndFooter::Header}"></header>

<main>

    <img th:src="@{/images/LibraryImg.jpg}" alt="Bookstore Image">
    <p>Explore our collection of books and start shopping!</p>
</main>

<footer th:replace="~{HeaderAndFooter::Footer}"></footer>
</body>
</html>